<section class="about" id="about">
  <div class="container">
    <div class="about__box">
      <div class="about__container">
        <h2 class="about__title">For the Ones Who Stand Out.</h2>
        <p class="about__text">
          Your style is your signature. It’s too unique to be found on a rack.
          We exist for those who choose to create their own lane, not just
          follow the hype.
        </p>
      </div>
      <div class="about__wrapper">
        <ul class="about__list">
          <li class="about__list--item">
            <svg class="about__list--item--icon">
              <use href="./img/icons/symbol-defs.svg#icon-pass"></use>
            </svg>
            <h3 class="about__list--item--subtitle">Break the Mold</h3>
            <p class="about__list--item--text">
              Fast fashion wants you to blend in. We believe in standing out.
              Forget the sea of sameness and predictable trends; your personal
              style deserves more.
            </p>
          </li>
          <li class="about__list--item">
            <svg class="about__list--item--icon">
              <use href="./img/icons/symbol-defs.svg#icon-night"></use>
            </svg>
            <h3 class="about__list--item--subtitle">As Original As You</h3>
            <p class="about__list--item--text">
              We don't do duplicates. Every single piece is conceptualized and
              crafted to be a one-of-a-kind statement, ensuring what you wear is
              exclusively yours.
            </p>
          </li>
          <li class="about__list--item">
            <svg class="about__list--item--icon">
              <use href="./img/icons/symbol-defs.svg#icon-hand"></use>
            </svg>
            <h3 class="about__list--item--subtitle">For the Rule-Breakers</h3>
            <p class="about__list--item--text">
              This is for the creators, the non-conformists, and the individuals
              who dare to be different. We provide the canvas for your vision,
              not the other way around.
            </p>
          </li>
          <li class="about__list--item">
            <svg class="about__list--item--icon">
              <use href="./img/icons/symbol-defs.svg#icon-user"></use>
            </svg>
            <h3 class="about__list--item--subtitle">Wear Your Identity</h3>
            <p class="about__list--item--text">
              This is more than streetwear. It's a form of self-expression, a
              piece of your narrative. We don’t just make clothes; we craft
              armor for your story.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
