<section class="creations" id="creations">
  <div class="container">
    <div class="creations__wrapper">
      <h1 class="creations__headering">Our Latest Creations</h1>
      <p class="creations__text">
        Every piece you see here is a one-of-a-kind creation, born from a unique
        idea and built for a specific individual. We never make the same thing
        twice. This gallery is a testament to that promise and a showcase of
        what’s possible when you break free from the ordinary.
      </p>
    </div>
    <ul class="creations__list">
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/man@desktop-1x.webp 1x,
              ./img/creations/desktop/man@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/man@tablet-1x.webp 1x,
              ./img/creations/tablet/man@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/man@mobile-1x.webp 1x,
              ./img/creations/mobile/man@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/man@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/hood@desktop-1x.webp 1x,
              ./img/creations/desktop/hood@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/hood@tablet-1x.webp 1x,
              ./img/creations/tablet/hood@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/hood@mobile-1x.webp 1x,
              ./img/creations/mobile/hood@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/hood@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/running@desktop-1x.webp 1x,
              ./img/creations/desktop/running@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/running@tablet-1x.webp 1x,
              ./img/creations/tablet/running@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/running@mobile-1x.webp 1x,
              ./img/creations/mobile/running@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/running@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/view@desktop-1x.webp 1x,
              ./img/creations/desktop/view@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/view@tablet-1x.webp 1x,
              ./img/creations/tablet/view@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/view@mobile-1x.webp 1x,
              ./img/creations/mobile/view@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/view@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/woman@desktop-1x.webp 1x,
              ./img/creations/desktop/woman@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/woman@tablet-1x.webp 1x,
              ./img/creations/tablet/woman@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/woman@mobile-1x.webp 1x,
              ./img/creations/mobile/woman@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/woman@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
      <li class="creations__item">
        <picture>
          <source
            srcset="
              ./img/creations/desktop/skeleton@desktop-1x.webp 1x,
              ./img/creations/desktop/skeleton@desktop-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/creations/tablet/skeleton@tablet-1x.webp 1x,
              ./img/creations/tablet/skeleton@tablet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/creations/mobile/skeleton@mobile-1x.webp 1x,
              ./img/creations/mobile/skeleton@mobile-2x.webp 2x
            "
            media="(min-width: 767px)"
          />
          <img
            class="creations__img"
            src="./img/creations/mobile/skeleton@mobile-1x.webp"
            alt="picture of clothing"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
