 <header>
      <div class="container header__container">
   <div class="header__box">
          <a href="../index.html" class="header__link__logo">
            <svg class="header__icon">
              <use href="./img/icons/symbol-defs.svg#icon-logo"></use>
            </svg>
            Stitch</a
          >
        </div>
        <div class="div">
  <nav class="header__nav">
    <input type="checkbox" id="toggle">
    <label class="header__label" for="toggle">
      <span></span>
    </label>
    <ul class="header__list">
      <li class="header__item">
        <a href="#" class="header__link">Manifesto</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">The Process</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Our Works</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Our Principles</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Materials</a>
      </li>
      <li class="header__item">
        <a href="#" class="header__link">Testimonials</a>
      </li>
      <li class="header__item">
          <button class="header__button">Start Your Creation</button>
      </li>
    </ul>
   
  </nav>
  <div class="middle">
  <a class="btn" href="#">
   <span class="wave"></span>
   <span class="text">Start Your Creation</span>
  </a>
 </div>
 </div>
  <!-- <div class="join_block">
    <input type="button" value="Start Your Creation" class="started">
  </div> -->
  </div>
</header>