<section class="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">
        Clothing Designed for
        One. You.
      </h1>
      <div class="hero__wrapper">
        <p class="hero__text">
          Forget the ordinary. We create exceptional, made-to-measure pieces
          designed exclusively for your story. Tell us your idea, and let’s
          craft something timeless, together.
        </p>
        <div class="hero__middle">
  <a class="butn" href="#">
   <span class="wave"></span>
   <span class="text">How It Works</span>
  </a>
 </div>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./img/hero/desktop/clothing@desktop-1x.webp 1x,
          ./img/hero/desktop/clothing@desktop-2x.webp 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/hero/tablet/clothing@tablet-1x.webp 1x,
          ./img/hero/tablet/clothing@tablet-2x.webp 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/hero/mobile/clothing@mobile-1x.webp 1x,
          ./img/hero/mobile/clothing@mobile-2x.webp 2x
        "
        media="(min-width: 767px)"
      />
      <img
        src="./img/hero/mobile/clothing@mobile-1x.webp"
        alt="picture of clothing"
      />
    </picture>
  </div>
</section>
