 <section class="intention" id="intention">
      <div class="container intention__container">
        <div class="intention__box">
          <h2 class="intention__title">
            Crafted with Intention, Not for the Masses.
          </h2>
          <p class="intention__info">
            In an industry built on speed and disposability, we choose to focus
            on what truly matters. We're not just making clothes; we're building
            lasting pieces that represent a higher standard of quality and a
            deeper connection to personal style. Every garment is a statement
            against the ordinary.
          </p>
          <ul class="intention__list">
            <li class="intention__item">
              <h3 class="intention__subtitle">Uncompromising Quality</h3>
              <p class="intention__text">
                We source only premium, durable materials and use meticulous <br/>
                construction techniques. Every stitch, seam, and detail is
                executed with precision, ensuring your piece not only looks
                incredible but is built to withstand the test of time and city
                life.
              </p>
            </li>
            <li class="intention__item">
              <h3 class="intention__subtitle">Radical Collaboration</h3>
              <p class="intention__text">
                Your vision is the starting point for everything we do. We
                believe the best ideas come from a true creative partnership.
                You're not just a customer; you are our collaborator from the
                initial concept to the final, one-of-a-kind product.
              </p>
            </li>
          </ul>
        </div>
         <picture>
              <source
                srcset="
                  ./img/intention/desktop/creation@desktop-1x.webp 1x,
                 ./img/intention/desktop/creation@desktop-2x.webp 2x
                "
                media="(min-width: 1344px)"
              />
              <source
                srcset="
                  ./img/intention/tablet/creation@tablet-1x.webp 1x,
                  ./img/intention/tablet/creation@tablet-2x.webp 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/intention/mobile/creation@mobile-1x.webp 1x,
                  ./img/intention/mobile/creation@mobile-2x.webp 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="intention___img"
                src="./img/intention/creation.webp"
                alt="creation"
              />
            </picture>
      </div>
    </section>