.about {
  margin-top: 112px;
  margin-bottom: 112px;
  .about__box {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    width: 380px;
    gap: 24px;
    flex-shrink: 0;
  }
  &__title {
    @include text(
      $color: $text-color,
      $size: 48px,
      $height: 120%,
      $weight: 700
    );
  }
  &__text {
    @include text(
      $color: $text-color,
      $size: 18px,
      $height: 150%,
      $weight: 400
    );
  }
  &__wrapper {
    flex: 1;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 56px;
  }
  &__list--item {
    width: 100%;
  }
  &__list--item--icon {
    width: 48px;
    height: 48px;
    margin-bottom: 16px;
  }
  &__list--item--subtitle {
    margin-bottom: 12px;
    @include text(
      $color: $text-color,
      $size: 32px,
      $height: 130%,
      $weight: 700
    );
  }
  &__list--item--text {
    @include text(
      $color: $text-color,
      $size: 16px,
      $height: 150%,
      $weight: 400
    );
  }
}