.creations {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }
  &__headering {
    @include text(
      $color: $text-color,
      $size: 48px,
      $height: 120%,
      $weight: 700
    );
    color: var($text-color);
    text-align: center;
  }
  &__text {
    @include text(
      $color: $text-color,
      $size: 18px,
      $height: 150%,
      $weight: 400
    );
    width: 768px;
    align-self: center;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
  }
  &__item {
  }
  &__img {
    width: 634px;
  }
}
