.creations {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }
  &__headering {
    @include title($size: 36px, $height: 120%);
    text-align: center;
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }
  &__text {
    @include text($color: $text-color, $size: 16px);
    width: 100%;
    text-align: center;
    @media screen and (min-width: 1280px) {
      max-width: 768px;
      @include text($color: $text-color, $size: 18px);
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 100%;
  }
}
