header {
  margin: 0 auto;
  padding: 16px 16px;
   @include flex-position($horizontally: space-between);
}

.header__list {
   @include flex-position($horizontally: space-between);
  list-style: none;
  z-index: 10;
}

input[type="checkbox"],
label {
  display: none;
}

/* join_block */
.middle {
  flex-grow: 1;
  text-align: right;
  margin-right: 16px;
   position: relative;
 display: flex;
 height: 80%;
}
a.btn {
 text-decoration: none;
 color: #fff;
 position: relative;
 background: #454a4c;
 border-radius: 3px;
 padding: 8px 20px;
 margin: 0;
 letter-spacing: 1px;
 overflow: hidden;
 transition: .3s all ease-in-out;
 box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

a.btn .wave {
 opacity: 1;
 position: absolute;
 top: 0;
 left: 50%;
 background: #000000;
 width: 500px;
 height: 500px;
 margin-left: -250px;
 margin-top: -480px;
 transform-origin: 50% 49%;
 border-radius: 43%;
 box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
 animation: drift 8000ms infinite linear;
}
.btn:hover > .wave {
  background: #fff;
}
a.btn.rumble {
 animation: rumbleinthejungle 300ms linear;
}

a.btn .text {
 position: relative;
 z-index: 2;
}

a.btn:hover {
  color: #000;
  background: #b1afaf;
  border: #000 1px solid;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
}

.btn {
  @include text($color: #fff, $size: 16px);
  margin-left: 32px;
  background: #000;
  padding: 8px 20px 8px 20px;
}

.started:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__button {
    @include text($color: #fff, $size: 16px);

    margin-left: 32px;
    background: #000;
    padding: 8px 20px 8px 20px;
  }
  .middle {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
  .div {
    display: flex;
    align-items: center;
  }
}
/* mobile menu */
@media (max-width: 1343px) {
  .header__nav {
    order: 1;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .header__list {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header__list {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header__list {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
  }
  .header__list li {
    margin: 15px 0;
  }
}
.header__icon {
  width: 36px;
  height: 33px;
}
.header__link__logo {
   @include flex-position($gap: 4px);
  @include logo($size: 31px);
  color: #000;
}
.header__link {
  @include text($color: #000, $size: 16px);
}
.header__container {
  @include flex-position($horizontally: space-between);
}

@media screen and (min-width: 1344px) {
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__list {
    display: flex;
    gap: 32px;
  }
  .middle {
    flex-grow: 0;
    text-align: none;
    margin-right: 0;
  }
  .header__button {
    display: none;
  }
}
