header {
  margin: 0 auto;
  padding: 16px 16px;
   @include flex-position($horizontally: space-between);
}

.header__list {
   @include flex-position($horizontally: space-between);
  list-style: none;
}

input[type="checkbox"],
label {
  display: none;
}

/* join_block */
.join_block {
  flex-grow: 1;
  text-align: right;
  margin-right: 16px;
}

.started {
  @include text($color: #fff, $size: 16px);
  margin-left: 32px;
  background: #000;
  padding: 8px 20px 8px 20px;
}

.started:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .header__button {
    @include text($color: #fff, $size: 16px);

    margin-left: 32px;
    background: #000;
    padding: 8px 20px 8px 20px;
  }
  .join_block {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
/* mobile menu */
@media (max-width: 1343px) {
  nav {
    order: 1;
  }
  label {
    display: block;
    height: 30px;
    width: 30px;
    margin-left: auto;
    position: relative;
  }
  label:hover {
    cursor: pointer;
  }
  label span {
    top: 15px;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background: #333;
    position: absolute;
    right: 0;
    transition: 0.3s;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  .header__list {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header__list {
    display: flex;
    flex-direction: column;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header__list {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0 12px 8px #ececec;
  }
  .header__list li {
    margin: 15px 0;
  }
}
.header__icon {
  width: 36px;
  height: 33px;
}
.header__link__logo {
   @include flex-position($gap: 4px);
  @include logo($size: 31px);
  color: #000;
}
.header__link {
  @include text($color: #000, $size: 16px);
}
.header__container {
  @include flex-position($horizontally: space-between);
}

@media screen and (min-width: 1344px) {
  .header {
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__nav {
    margin-left: auto;
  }
  .header__list {
    display: flex;
    gap: 32px;
  }
  .join_block {
    flex-grow: 0;
    text-align: none;
    margin-right: 0;
  }
  .header__button {
    display: none;
  }
}
