.hero {
  display: flex;
  padding-top:64px;
  padding-bottom: 64px;
  @media screen and (min-width: 1280px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
  &__title {
    font-style: normal;
    @include title($size: 40px, $height: 120%);
    width: 100%;
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
      width: 312px;
    }
    @media screen and (min-width: 1280px) {
      @include title($size: 56px, $height: 120%);
      width: 100%;
    }
  }
  &__text {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    font-style: normal;
    margin-bottom: 32px;
    @media screen and (min-width: 1280px) {
      @include text($color: $text-color, $size: 18px, $weight: 400);
    }
  }
  &__wrapper {
    width: 100%;
    @media screen and (min-width: 768px) {
      width: 312px;
    }
    @media screen and (min-width: 1280px) {
      width: 100%;
    }
  }
}

// BUTTON
.butn {
  @include text($color: #fff, $size: 16px, $weight: 400);
  text-align: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 180px;
  }
}
.hero__middle {
  position: relative;
  display: flex;
}

a.butn {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: #454a4c;
  border-radius: 3px;
  padding: 12px 24px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
      transition-property: background, color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

a.butn .wave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: #000000;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -480px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  animation: drift 8000ms infinite linear;
   transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.butn:hover > .wave {
  background: #fff;
  
}
a.butn.rumble {
  animation: rumbleinthejungle 300ms linear;
}

a.butn .text {
  position: relative;
  z-index: 2;
}

a.butn:hover {
  color: #000;
  background: #b1afaf;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
  
}
