.hero {
  display: flex;
  padding-top: 112px;
  padding-bottom: 112px;
  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__headering {
    font-style: normal;
    @include text(
      $color: $text-color,
      $size: 56px,
      $height: 120%,
      $weight: 700
    );
  }
  &__text {
    @include text($color: $text-color, $size: 18px, $weight: 400);
    font-style: normal;
    margin-bottom: 32px;
  }
  &__wrapper {
    width: 616px;
  }
  &__button {
    padding: 12px 24px;
    border-radius: 0;
    border: 1px solid black;
    background: black;
    @include text($color: #fff, $size: 16px, $weight: 400);
    font-style: normal;
  }
}
