.intention {
padding-top: 64px;
padding-bottom: 64px;
    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;
}
&__box {
}
&__title {
     @include title($size: 36px, $height: 120%);
     margin-bottom: 24px;
}
&__info {
    @include text($size: 16px);
    margin-bottom: 32px;
}
&__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
&__item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
&__subtitle {
     @include title($size: 18px, $height: 140%);
    
}
&__text {
     @include text($size: 16px);
}
&___img {
}
}

@media screen and (min-width: 768px) {
   
    .intention {

    &__container {
        
}
&__box {
}
&__title {
}
&__info {
}
&__list {
    flex-direction: row;
    gap: 24px;
   
}
&__item {
    width: 340px;
}
&__subtitle {
}
&__text {
}
&___img {
}
}
}

@media screen and (min-width: 1344px) {
    .intention {
padding-bottom: 112px;
padding-top: 112px;
    &__container {
        display: flex;
        flex-direction: row;
        gap: 80px;
}
&__box {
    @include flex-position($direction: column);
}
&__title {
     @include title($size: 48px);
}
&__info {
     @include text($size: 18px);
     margin-bottom: 0;
}
&__list {
    margin-top: 32px;
    flex-direction: row;
}
&__item {
    
    width: 296px;
}
&__subtitle {
    @include title($size: 20px);
}
&__text {
    
}
&___img {
    width: 616px;
height: 657px;
}
}
}