.intention {

    &__container {
}
&__box {
}
&__title {
}
&__info {
}
&__list {
}
&__item {
}
&__subtitle {
}
&__text {
}
&___img {
}
}

@media screen and (min-width: 768px) {
   
    .intention {

    &__container {
}
&__box {
}
&__title {
}
&__info {
}
&__list {
}
&__item {
}
&__subtitle {
}
&__text {
}
&___img {
}
}
}

@media screen and (min-width: 1344px) {
    .intention {
padding-bottom: 112px;
padding-top: 112px;
    &__container {
        display: flex;
        gap: 80px;
}
&__box {
    @include flex-position($direction: column);
}
&__title {
     @include title($size: 48px, $height: 120%);
margin-bottom: 24px;
}
&__info {
     @include text($size: 18px);
}
&__list {
    display: flex;
    margin-top: 32px;
    gap: 24px;
}
&__item {
    width: 296px;
}
&__subtitle {
    @include title($size: 20px, $height: 140%);
margin-bottom: 16px;
}
&__text {
     @include text($size: 16px);
}
&___img {
    width: 616px;
height: 657px;
}
}
}