.materials {
  &__container {
  }
  &__title {
  }
  &__list {
  }
  &__item {
  }
  &__subtitle {
  }
  &__text {
  }
}

@media screen and (min-width: 768px) {
  .materials {
    &__container {
    }
    &__title {
    }
    &__list {
    }
    &__item {
    }
    &__subtitle {
    }
    &__text {
    }
  }
}

@media screen and (min-width: 1344px) {
  .materials {
    padding-bottom: 112px;
    padding-top: 112px;
    &__container {
    }
    &__title {
      @include title($size: 48px, $height: 120%);

      text-align: center;

      margin-bottom: 40px;
    }
    &__list {
      display: flex;
      gap: 11.8px;
    }
    &__item {
      height: 873px;
      width: 252px;
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: 12px;
    }
    &__item:nth-child(1) {
      background: url("../img/materials/desktop/denim@desktop-1x.webp");
       @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url("../img/materials/desktop/denim@desktop-2x.webp");
    }
    }
    &__item:nth-child(2) {
      background: url("../img/materials/desktop/ripstop@desktop-1x.webp");
       @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url("../img/materials/desktop/ripstop@desktop-2x.webp");
    }
    }
    &__item:nth-child(3) {
      background: url("../img/materials/desktop/leather@desktop-1x.webp");
       @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url("../img/materials/desktop/leather@desktop-2x.webp");
    }
    }
    &__item:nth-child(4) {
      background: url("../img/materials/desktop/fleece@desktop-1x.webp");
        @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url("../img/materials/desktop/fleece@desktop-2x.webp");
    }
    }
    &__item:nth-child(5) {
      background: url("../img/materials/desktop/canvas@desktop-1x.webp");
       @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background: url("../img/materials/desktop/canvas@desktop-2x.webp");
    }
    }
    &__subtitle {
      @include title($color: #fff, $size: 20px, $height: 140%);
      margin-bottom: 12px;
    }
    &__text {
      @include text($color: #fff, $size: 18px);
    }
  }
}
