.scroll__top {
    background: #101111;
    position: fixed;
     bottom: 20px;
    right: 40px;
      width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    text-decoration: none;
    pointer-events: none;
    transition: all .4s;
   opacity: 0;
}
.iocn__to-top {
    width: 20px;
    height: 30px;
    fill: #f3eeee;
}
.scroll__top.active {
    bottom: 40px;
    pointer-events: auto;
    opacity: 1;
}
@media screen and (min-width: 768px) {
    .scroll__top {
      width: 70px;
    height: 70px;
}
.iocn__to-top {
    width: 30px;
    height: 40px;
  
}
}