.stories {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  &__title {
    text-align: center;
    @include text(
      $color: $text-color,
      $size: 48px,
      $height: 120%,
      $weight: 700
    );
    padding-bottom: 40px;
  }
  &__list {
    gap: 32px;
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
    padding-bottom: 32px;
    flex-basis: calc((100% - 32px) / 2);
    border-radius: 0;
    border: 1px solid #000;
    background: #fff;
  }
  &__text {
    @include text(
      $color: $text-color,
      $size: 18px,
      $height: 150%,
      $weight: 400
    );
  }
  &__user {
    @include text(
      $color: $text-color,
      $size: 16px,
      $height: 150%,
      $weight: 600
    );
  }
}
