.vision {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  &__image {
    margin-left: 70px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__title {
    @include title(
      $color: $text-color,
      $size: 48px,
      $height: 120%,
      $weight: 700
    );
    padding-bottom: 24px;
  }
  &__text {
    @include text($color: $text-color, $size: 18px, $weight: 400);
    padding-bottom: 32px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__form--text {
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
  }
  &__user--data {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    border: 1px solid #000;
    display: flex;
    padding: 12px;
    align-items: center;
    align-self: stretch;
    max-width: 592px;

  }
  &__button {
    width: 225px;
    background-color: #000;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @include text($color: #fff, $size: 16px, $weight: 400);
  }
  &__comment {
    resize: none;
    display: flex;
    height: 180px;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    max-width: 592px;
  }
}
