.vision {
  padding: 64px 0;
  display: flex;
  @media screen and (min-width: 1280px) {
    padding: 112px 0;
  }
  &__image {
    margin-top: 40px;
    @media screen and (min-width: 1280px) {
      margin-top: 0px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    @include title(
      $color: $text-color,
      $size: 36px,
      $height: 120%,
      $weight: 700
    );
    margin-bottom: 24px;
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }
  &__text {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    margin-bottom: 32px;
    max-width: 100%;
    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
    }
  }
  &__form--text {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
    @media screen and (min-width: 1280px) {

    }
  }
  &__user--data {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    border: 1px solid #000;
    padding: 12px;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    @media screen and (min-width: 1280px) {
      max-width: 616px;
    }
  }
  &__comment {
    resize: none;
    display: flex;
    height: 180px;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    margin-bottom: 24px;
    width: 100%;
    @media screen and (min-width: 1280px) {
      max-width: 616px;
    }
  }
}

// BUTTON
.buttn {
  @include text($color: #fff, $size: 16px, $weight: 400);
  text-align: center;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
}
.vision__middle {
  position: relative;
  display: flex;
}

button.buttn {
  text-decoration: none;
  color: #fff;
  position: relative;
  background: #454a4c;
  border-radius: 3px;
  padding: 12px 24px;
  margin: 0;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
      transition-property: background, color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

button.buttn .wave {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  background: #000000;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -480px;
  transform-origin: 50% 49%;
  border-radius: 43%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  animation: drift 8000ms infinite linear;
   transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.buttn:hover > .wave {
  background: #fff;
  
}
button.buttn.rumble {
  animation: rumbleinthejungle 300ms linear;
}

button.buttn .text {
  position: relative;
  z-index: 2;
}

button.buttn:hover {
  color: #000;
  background: #b1afaf;
  box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1),
    0 6px 10px 5px rgba(0, 0, 0, 0.12), 0 8px 5px -5px rgba(0, 0, 0, 0.3);
  
}