.vision {
  padding-top: 112px;
  padding-bottom: 112px;
  display: flex;
  @media screen and (min-width: 1280px) {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  &__image {
    margin-top: 40px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__title {
    @include title(
      $color: $text-color,
      $size: 36px,
      $height: 120%,
      $weight: 700
    );
    margin-bottom: 24px;
    @media screen and (min-width: 1280px) {
      font-size: 48px;
    }
  }
  &__text {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    margin-bottom: 32px;
    max-width: 100%;
    @media screen and (min-width: 1280px) {
      font-size: 18px;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__form {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1280px) {
      gap: 24px;
    }
  }
  &__form--text {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    display: block;
    text-align: left;
    width: 100%;
    margin-bottom: 8px;
    @media screen and (min-width: 1280px) {
    }
  }
  &__user--data {
    @include text($color: $text-color, $size: 16px, $weight: 400);
    border: 1px solid #000;
    padding: 12px;
    align-items: center;
    max-width: 616px;
    margin-bottom: 24px;
  }
  &__button {
    width: 100%;
    background-color: #000;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    @include text($color: #fff, $size: 16px, $weight: 400);
    @media screen and (min-width: 768px) {
      width: 225px;
    }
  }
  &__comment {
    resize: none;
    display: flex;
    height: 180px;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    max-width: 616px;
    margin-bottom: 24px;
  }
}
